<div class="container" style = "margin-top: 10px;">
  <div class="form-signin">
    <h2 class="form-signin-heading">InzChat</h2>
    <div class="alert alert-danger" *ngIf="errors" style="margin: auto; margin-top: 20px; margin-bottom: 20px;">
      <li *ngFor="let err of errorsString">{{err}}</li>
    </div>
    <label for="inputEmail" class="sr-only">Login</label>
    <input type="text" id="inputEmail" [(ngModel)] = "login" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" [(ngModel)] = "password" class="form-control" placeholder="Password" required>
    <label for="inputEmail" class="sr-only">Password</label>
    <input type="text" id="inputEmail" class="form-control" [(ngModel)] = "email" placeholder="Email" required>
    <button class="btn btn-lg btn-primary btn-block" (click)="onRegister()">Sign up</button>
  </div>
</div>
