<div class="container" style = "margin-top: 10px;">
  <div class="form-signin">
    <h2 class="form-signin-heading">InzChat</h2>
    <div class="alert alert-danger" *ngIf = "error" style="margin: auto; margin-top: 20px; margin-bottom: 20px;">
      Invalid login data
    </div>
    <label for="inputEmail" class="sr-only">Login</label>
    <input type="text" id="inputEmail" [(ngModel)]="login" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" [(ngModel)]="password" class="form-control" placeholder="Password" required>
    <a routerLink="/register">Sign up</a>
    <button class="btn btn-lg btn-primary btn-block" (click)="onLogin()">Sign in</button>
  </div>
</div>
