<div style="display: flex; align-items: center;">
    <textarea style="margin-left:10px; width:90%; height:40px; resize: none;" [(ngModel)]="content"></textarea>
    <button class="btn btn-primary" (click)="onClick()" style="margin-left:10px; height:40px; min-width:100px; max-width: 9%;">Send</button>
  <button class="btn btn-primary" (click)="file.click()" style="margin-left:10px; height:40px; min-width:100px; max-width: 9%; margin-right: 10px;">
    Upload
  </button>
  <input id="file-upload" type="file" style="display: none" #file (change)="upload($event.target.files[0])" />
</div>
