<div class="list-group" style="overflow-y: scroll; height:93vh;">
  <div class="list-group-item flex-column align-items-start" *ngFor="let message of displayMessages">
    <div class="d-inline">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">{{message.author}}</h5>
        <small>{{message.date}}</small>
      </div>
      <div class = "d-flex" *ngIf="message.messageType === 'FILE'">
        <a (click)="download(message.fileDto.id)">{{message.fileDto.filename}}</a>
      </div>
      <p *ngIf="message.messageType === 'TEXT'" class="d-flex">
        {{message.message}}
      </p>
    </div>
  </div>
</div>
