<div class="sidenav">
    <div class="search-container">
        <input type="text" placeholder="Search.." name="search" (input)="onSearchChange($event.target.value)">
    </div>
    <div>
      <span class = "s" style="font-size: 20px;">Groups</span>
      <span class = "s" *ngIf="groupsEmpty" style="font-size: 16px; padding-top: 0px;">Empty</span>
      <a *ngFor="let gr of groups" style="font-size: 16px;" [routerLink]="['group', gr.name]" (click)="saveGroup(gr.name)">{{gr.name}}</a>
    </div>
    <div>
      <span class = "s" style="font-size: 20px;">Users</span>
      <span class = "s" *ngIf="usersEmpty" style="font-size: 16px; padding-top: 0px;">Empty</span>
      <a *ngFor="let us of users" style="font-size: 16px; width: 150px;" [routerLink]="['private', us.username]" (click)="changeToPrivate(us.username)">
        {{us.username}}
        <span class="dot" *ngIf="us.active"></span>
      </a>
    </div>
  <a class="addUserGroup" (click)="addUserToGroup()" *ngIf="addUserGroupNotVisible && groupType != undefined && groupType === 'group'">Add user to group</a>
  <app-add-user-to-group class="addUserGroup" *ngIf="addUserGroupVisible"></app-add-user-to-group>
  <a class="addGroup" (click)="addGroup()" *ngIf="addGroupNotVisible">Add group</a>
  <app-add-group class="addGroup" *ngIf="addGroupVisible"></app-add-group>
</div>
