body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

a {
    padding: 3px 6px 3px 22px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.s {
    padding: 12px 6px 3px 22px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
  
input[type=text] {
    color: #818181;
    margin: auto;
    font-size: 22px;
    border: none;
}

.search-container {
    padding-left: 22px;
}

.dot {
  position: relative;
  top:-1px;
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.addUserGroup {
  color: #818181;
  position: fixed;
  z-index: 1;
  font-size: 20px;
  bottom: 60px;
  left: 0;
}

.addGroup {
  color: #818181;
  position: fixed;
  z-index: 1;
  font-size: 20px;
  bottom: 20px;
  left: 0;
}
