a {
  padding: 3px 6px 3px 22px;
  text-decoration: none;
  color: #818181;
  display: block;
}

input[type=text] {
  padding: 3px 6px 3px 22px;
  color: #818181;
  width: 220px;
  font-size: 22px;
  border: none;
  display: inline;
}

.but {
  display: inline;
  color: #818181;
  width:40px;
}

